.container{
    width:80%;
    margin:0 auto;
}

body{
    background-image: url(./background/curls.png);
}

h1, h2, h3, h4 {
    color:#fff;
}

.login-center{
    width: 300px;
    height:200px;
    margin: 120px 400px;
    border: 1px solid #fff;
    border-radius: 7px;
    text-align: center;
    padding-top:30px;
}

.logout-nav{
    padding-left: 650px;
}

.white-text{
    color:#fff;
}